<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="<%= getJsAsset(prefix+'.js') %>" as="script">

<div class="content">
    <div class="d-flex g-16 filter">
        <div class="d-flex g-16 align-items-center">
            <div class="d-flex g-16 filter-line-container">
                <div class="d-flex g-8 filter-line" id="filter-line">
                    <div class="d-flex g-8" id="filter"></div>
                </div>
                <div class="filter-modal" id="filter-modal">
                    <div class="filter-modal-content">
                        <div class="filter-option" data-value="new">Новые</div>
                        <div class="filter-option" data-value="canceled">Клиент отказался</div>
                        <div class="filter-option" data-value="success">Клиент согласился</div>
                        <div class="filter-option" data-value="scheduled">Создана фотосессия</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="orange-btn" id="filter-btn">Найти</button>
    </div>
    <div id="applications">
        <%- include('components/table') %>
        <%- include('components/paginator') %>
    </div>
</div>

<script src="<%= getJsAsset(prefix+'.js') %>"></script>