<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="preload" 
      href="/css/main.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%= getJsAsset('main.js') %>" as="script">
    <script src="<%= getJsAsset('main.js') %>"></script>
    <title><%= title %></title>
</head>
<body>
    
    <div class="wrapper main-width">
        <% if(hfEnabled){ %>
            <%- include("header", headerData) %>
        <% } %>
        <%- include(page, pageData) %>
        <% if(hfEnabled){ %>
            <%- include("footer") %>
        <% } %>
    </div>
</body>
</html>